# Environment variables for the server
# copy this file to .env and fill in the values
WIGLE_USER=
WIGLE_TOKEN=
WIGLE_ENCODED=
CENTER_POINTS=37.39363905355642, -122.0788555167314
MAP_CENTER=37.39363905355642, -122.0788555167314
MAP_RADIUS=100
DB_FILENAME=wigle_cache.db
